<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Blogs</title>
</head>
<body>
    <main>
        <div class="container">
            <header>
                <ul class="menu">
                    <li>
                        <a href="/blogs" class="active">Blog</a>
                    </li>
                    <li>
                        <a href="/works">Works</a>
                    </li>
                    <li>
                        <a href="/">Contacts</a>
                    </li>
                </ul>
                <button class="burger" onclick="toggleMenu()">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </button>
            </header>
            <section class="recent blogs">
                <div class="container">
                    <div class="recent-header section-header">
                        <h2>Blog</h2>
                    </div>

                    <div class="recent-container">
                        {{#each posts}}
                        <div class="recent-card-container">
                            <h3>{{this.header}}</h3>
                            <div class="description">
                                <p>{{this.createdAt}}</p>
                                <span class="line"></span>
                                <p>{{this.tag}}</p>
                            </div>
                            <p>{{this.text}}</p>
                        </div>
                        <form action="/blogs-update/{{this.id}}" method="get">
                            <button type="submit">Update</button>
                        </form>
                        <form action="/blogs-delete/{{this.id}}" method="get">
                            <button type="submit">Delete</button>
                        </form>
                        {{/each}}
                    </div>
                </div>

                <form action="/blogs-create" method="get">
                    <button type="submit">Create post</button>
                </form>
            </section>
           
        </div>

        <footer>
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            <div class="vk"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="ok"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="tg"></div>
                        </a>
                    </li>
                </ul>
            </nav>
            <p>Copyright ©2020 All rights reserved</p>
        </footer>
    </main>

    <script src="../js/script.js"></script>
</body>
</html>